<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c76667">  <td>21/07/01 16:35:18</td>   <td>0</td> <td title="&gt;&gt;TestBase.readProperties()[pri:0, instance:testcases.LoginTest@282cb7c7]">&gt;&gt;readProperties</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@100929741</td>   <td></td> </tr>
<tr bgcolor="c76667">  <td>21/07/01 16:35:18</td>   <td>15</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.browserLanuch()[pri:0, instance:testcases.LoginTest@282cb7c7]">&gt;&gt;browserLanuch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@100929741</td>   <td></td> </tr>
<tr bgcolor="bfa8f6">  <td>21/07/01 16:35:32</td>   <td>13966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyLoginFunctionality()[pri:0, instance:testcases.LoginTest@282cb7c7]">verifyLoginFunctionality</td> 
  <td>main@100929741</td>   <td></td> </tr>
<tr bgcolor="c76667">  <td>21/07/01 16:35:37</td>   <td>18403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.takesScreenShotForFailureTest(org.testng.ITestResult)[pri:0, instance:testcases.LoginTest@282cb7c7]">&lt;&lt;takesScreenShotForFailureTest</td> 
<td>&nbsp;</td>  <td>main@100929741</td>   <td></td> </tr>
<tr bgcolor="bfa8f6">  <td>21/07/01 16:35:37</td>   <td>18405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyDashBoardPage()[pri:1, instance:testcases.LoginTest@282cb7c7]">verifyDashBoardPage</td> 
  <td>main@100929741</td>   <td></td> </tr>
<tr bgcolor="c76667">  <td>21/07/01 16:35:38</td>   <td>19793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.takesScreenShotForFailureTest(org.testng.ITestResult)[pri:0, instance:testcases.LoginTest@282cb7c7]">&lt;&lt;takesScreenShotForFailureTest</td> 
<td>&nbsp;</td>  <td>main@100929741</td>   <td></td> </tr>
<tr bgcolor="bfa8f6">  <td>21/07/01 16:35:38</td>   <td>19795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyPageDropDown()[pri:2, instance:testcases.LoginTest@282cb7c7]">verifyPageDropDown</td> 
  <td>main@100929741</td>   <td></td> </tr>
<tr bgcolor="c76667">  <td>21/07/01 16:35:38</td>   <td>20185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.takesScreenShotForFailureTest(org.testng.ITestResult)[pri:0, instance:testcases.LoginTest@282cb7c7]">&lt;&lt;takesScreenShotForFailureTest</td> 
<td>&nbsp;</td>  <td>main@100929741</td>   <td></td> </tr>
<tr bgcolor="bfa8f6">  <td>21/07/01 16:35:38</td>   <td>20186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.validateEmployeeName()[pri:3, instance:testcases.LoginTest@282cb7c7]">validateEmployeeName</td> 
  <td>main@100929741</td>   <td></td> </tr>
<tr bgcolor="c76667">  <td>21/07/01 16:35:39</td>   <td>20333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.takesScreenShotForFailureTest(org.testng.ITestResult)[pri:0, instance:testcases.LoginTest@282cb7c7]">&lt;&lt;takesScreenShotForFailureTest</td> 
<td>&nbsp;</td>  <td>main@100929741</td>   <td></td> </tr>
<tr bgcolor="bfa8f6">  <td>21/07/01 16:35:39</td>   <td>20333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyFromDate()[pri:4, instance:testcases.LoginTest@282cb7c7]">verifyFromDate</td> 
  <td>main@100929741</td>   <td></td> </tr>
<tr bgcolor="c76667">  <td>21/07/01 16:35:39</td>   <td>20890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.takesScreenShotForFailureTest(org.testng.ITestResult)[pri:0, instance:testcases.LoginTest@282cb7c7]">&lt;&lt;takesScreenShotForFailureTest</td> 
<td>&nbsp;</td>  <td>main@100929741</td>   <td></td> </tr>
</table>
