<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99686d">  <td>21/06/29 09:59:35</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.browserLanuch()[pri:0, instance:testcases.LoginTest@732d0d24]">&gt;&gt;browserLanuch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@988850650</td>   <td></td> </tr>
<tr bgcolor="99686d">  <td>21/06/29 09:59:35</td>   <td>-12</td> <td title="&gt;&gt;TestBase.readProperties()[pri:0, instance:testcases.LoginTest@732d0d24]">&gt;&gt;readProperties</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@988850650</td>   <td></td> </tr>
<tr bgcolor="99686d">  <td>21/06/29 09:59:45</td>   <td>10388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.takesScreenShotForFailureTest(org.testng.ITestResult)[pri:0, instance:testcases.LoginTest@732d0d24]">&lt;&lt;takesScreenShotForFailureTest</td> 
<td>&nbsp;</td>  <td>main@988850650</td>   <td></td> </tr>
<tr bgcolor="99686d">  <td>21/06/29 09:59:48</td>   <td>12991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.takesScreenShotForFailureTest(org.testng.ITestResult)[pri:0, instance:testcases.LoginTest@732d0d24]">&lt;&lt;takesScreenShotForFailureTest</td> 
<td>&nbsp;</td>  <td>main@988850650</td>   <td></td> </tr>
<tr bgcolor="99686d">  <td>21/06/29 09:59:48</td>   <td>13305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.takesScreenShotForFailureTest(org.testng.ITestResult)[pri:0, instance:testcases.LoginTest@732d0d24]">&lt;&lt;takesScreenShotForFailureTest</td> 
<td>&nbsp;</td>  <td>main@988850650</td>   <td></td> </tr>
<tr bgcolor="b3a6ea">  <td>21/06/29 09:59:45</td>   <td>10393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyDashBoardPage()[pri:1, instance:testcases.LoginTest@732d0d24]">verifyDashBoardPage</td> 
  <td>main@988850650</td>   <td></td> </tr>
<tr bgcolor="b3a6ea">  <td>21/06/29 09:59:43</td>   <td>7648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyLoginFunctionality()[pri:0, instance:testcases.LoginTest@732d0d24]">verifyLoginFunctionality</td> 
  <td>main@988850650</td>   <td></td> </tr>
<tr bgcolor="b3a6ea">  <td>21/06/29 09:59:48</td>   <td>12992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyPageDropDown()[pri:2, instance:testcases.LoginTest@732d0d24]">verifyPageDropDown</td> 
  <td>main@988850650</td>   <td></td> </tr>
</table>
